<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Raaga.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A6B51E4D09708EFB346D118DB58B7A410EFE1D0D</string>
				<key>dateExpires</key>
				<string>9/2/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7J5W5G6XY6.com.citpl.raaga</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7J5W5G6XY6</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Raaga.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c6f0580e-9356-463f-b4f5-3498cbabc1a5</string>
				<key>dateExpires</key>
				<string>9/2/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.citpl.raaga</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7J5W5G6XY6</string>
				<key>name</key>
				<string>Vishva Subash</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
